name: Build docker container and publish

on:
  push:
    branches:
      - sprint_two

defaults:
  run:
    working-directory: front

jobs:
    
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: "Checkout GitHub Action"
        uses: actions/checkout@main

      - name: Login to Azure CLI
        uses: azure/login@v1
        with:
          creds: '{"clientId":"${{ secrets.ARM_CLIENT_ID }}","clientSecret":"${{ secrets.ARM_CLIENT_SECRET }}","subscriptionId":"${{ secrets.ARM_SUBSCRIPTION_ID }}","tenantId":"${{ secrets.ARM_TENANT_ID }}"}'

      - name: "Login to ACR"
        uses: azure/docker-login@v1
        with:
            login-server: jptrackbymyduckdevcr.azurecr.io
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set Docker Image Tag
        id: set-image-tag
        run: echo "github.sha=${{ github.sha }}"


      - name: Build Docker Image
        run: |
            docker build -t jptrackbymyduckdevcr.azurecr.io/app:${{ github.sha }} \
                --build-arg REACT_APP_API_URL="https://jp-trackbymyduck-dev-api-test.azurewebsites.net" \
                -f Dockerfile.ci .
        working-directory: ./front

      - name: Push Docker Image to ACR
        run: |
            docker push jptrackbymyduckdevcr.azurecr.io/app:${{ github.sha }}
        working-directory: ./front

      - uses: azure/webapps-deploy@v2
        with:
          app-name: '${{vars.PREFIX}}-${{vars.APPLICATION }}-${{vars.ENVIRONMENT}}-wafc'
          images: 'jptrackbymyduckdevcr.azurecr.io/app:${{ github.sha }}'

      - name: "az update"
        run: |
            az container create --resource-group ${{vars.PREFIX}}-${{vars.APPLICATION }}-${{vars.ENVIRONMENT}}-rg --name jp-trackbymyduck-dev-front-ci-2 --image jptrackbymyduckdevcr.azurecr.io/app:${{ github.sha }} --ports 80 --registry-username ${{ secrets.DOCKER_USERNAME }} --registry-password ${{ secrets.DOCKER_PASSWORD }} --location polandcentral

    #   - name: 'Deploy to Azure Container Instances'
    #     uses: 'azure/aci-deploy@v1'
    #     with:
    #         resource-group: "${{vars.PREFIX}}-${{vars.APPLICATION }}-${{vars.ENVIRONMENT}}-rg"
    #         dns-name-label: url-for-container
    #         image: jptrackbymyduckdevcr.azurecr.io/app:${{ github.sha }}
    #         registry-username: ${{ secrets.DOCKER_USERNAME }}
    #         registry-password: ${{ secrets.DOCKER_PASSWORD }}
    #         name: jp-trackbymyduck-dev-front-ci-2
    #         location: 'polandcentral'
    #   - name: Build the frontend image and push it to ACR
    #     uses: docker/build-push-action@v5
        
    #     with:
    #       push: true
    #       tags: jptrackbymyduckdevcr.azurecr.io
    #       file: front/Dockerfile
    #       context: "./front"
          