name: Build docker container and publish

on:
  push:
    branches:
      - sprint_two

defaults:
  run:
    working-directory: front

jobs:
    
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: "Checkout GitHub Action"
        uses: actions/checkout@main

      - name: Login to Azure CLI
        uses: azure/login@v1
        with:
          creds: '{"clientId":"${{ secrets.ARM_CLIENT_ID }}","clientSecret":"${{ secrets.ARM_CLIENT_SECRET }}","subscriptionId":"${{ secrets.ARM_SUBSCRIPTION_ID }}","tenantId":"${{ secrets.ARM_TENANT_ID }}"}'

      - name: Build the frontend image and push it to ACR
        uses: docker/build-push-action@v2
        
        with:
          push: true
          tags: jptrackbymyduckdevcr.azurecr.io/aspcoresample:${{ github.sha }}
          file: Dockerfile
          